<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size="3">

        <ion-text color="medium">
          <h1 *ngIf="totalPuzzlesInBlock > 0">{{ countPuzzlesPlayedBlock }} / {{
            totalPuzzlesInBlock }}</h1>
          <h3 *ngIf="showBlockTimer">{{ timeLeftBlock | secondsToMinutesSeconds }}</h3>
          <h6>{{ timeTraining | secondsToMinutesSeconds }}</h6>
        </ion-text>

      </ion-col>

      <ion-col class="ion-no-padding ion-margin-top" size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">

        <ng-container *ngIf="showEndPlan; else elseTemplateBoardPuzzle">

          <div *ngFor="let block of plan?.blocks">

            <app-end-plan-puzzles [userPuzzles]="block.puzzlesPlayed"></app-end-plan-puzzles>

          </div>


        </ng-container>
        <ng-template #elseTemplateBoardPuzzle>

          <app-board-puzzle [setPuzzle]="puzzleToPlay" [setForceStopTimer]="forceStopTimerInPuzzleBoard"
            (puzzleCompleted)="onPuzzleCompleted($event, 'good')" (puzzleFailed)="onPuzzleCompleted($event, 'bad')"
            (puzzleEndByTime)="onPuzzleCompleted($event, 'timeOut')"></app-board-puzzle>
        </ng-template>






      </ion-col>



    </ion-row>
  </ion-grid>


</ion-content>