<ion-content>

  <ion-grid>
    <ion-row>


      <ion-col size="12" size-xs="12" size-sm="12" size-md="12" size-lg="3" size-xl="3">
        <ion-text color="primary">
          <h2>
            {{ "PUZZLES.MENU.title" | translate }}
            <!-- Planes de entrenamiento -->
          </h2>
        </ion-text>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" class="ion-no-padding">

        <ion-card color="light" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <div (click)="createPlan('plan5')">
            <ion-item class="item-plan-description" lines="none">
              <ion-label>
                <b>
                  {{generalEloPlan5}}
                </b>
              </ion-label>
              <div slot="end">
                <ion-note>
                  5 <ion-icon name="timer-outline"></ion-icon>
                </ion-note>
              </div>
            </ion-item>
            <ion-img class="img-plan" src="assets/images/plan-icons/plan5.png" alt="rabbit" srcset=""></ion-img>
          </div>

          <ion-fab vertical="bottom" horizontal="end" *ngIf="generalEloPlan5 !== '1500?'" class="ion-hide-md-down">
            <ion-fab-button size="small" color="light" (click)="showChart('plan5')">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>


        </ion-card>


      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" class="ion-no-padding">

        <ion-card color="light" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <div (click)="createPlan('plan10')">

            <ion-item class="item-plan-description" lines="none">
              <ion-label>
                <b>
                  {{generalEloPlan10}}
                </b>
              </ion-label>
              <div slot="end">
                <ion-note>
                  10 <ion-icon name="timer-outline"></ion-icon>
                </ion-note>
              </div>
            </ion-item>
            <ion-img class="img-plan" src="assets/images/plan-icons/plan10.png" alt="horse" srcset=""></ion-img>

          </div>
          <ion-fab vertical="bottom" horizontal="end" *ngIf="generalEloPlan10 !== '1500?'" class="ion-hide-md-down">
            <ion-fab-button size="small" color="light" (click)="showChart('plan10')">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" class="ion-no-padding">

        <ion-card color="light" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <div (click)="createPlan('plan20')">

            <ion-item class="item-plan-description" lines="none">
              <ion-label>
                <b>
                  {{generalEloPlan20}}
                </b>
              </ion-label>
              <div slot="end">
                <ion-note>
                  20 <ion-icon name="timer-outline"></ion-icon>
                </ion-note>
              </div>
            </ion-item>
            <ion-img class="img-plan" src="assets/images/plan-icons/plan20.png" alt="elephant" srcset=""></ion-img>

          </div>
          <ion-fab vertical="bottom" horizontal="end" *ngIf="generalEloPlan20 !== '1500?'" class="ion-hide-md-down">
            <ion-fab-button size="small" color="light" (click)="showChart('plan20')">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card>

      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" class="ion-no-padding">

        <ion-card color="light" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <div (click)="createPlan('plan30')">

            <ion-item class="item-plan-description" lines="none">
              <ion-label>
                <b>
                  {{generalEloPlan30}}
                </b>
              </ion-label>
              <div slot="end">
                <ion-note>
                  30 <ion-icon name="timer-outline"></ion-icon>
                </ion-note>
              </div>
            </ion-item>
            <ion-img class="img-plan" src="assets/images/plan-icons/plan30.png" alt="turtle" srcset=""></ion-img>

          </div>
          <ion-fab vertical="bottom" horizontal="end" *ngIf="generalEloPlan30 !== '1500?'" class="ion-hide-md-down">
            <ion-fab-button size="small" color="light" (click)="showChart('plan30')">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card>

      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">

        <ion-button expand="block" size="large" color="light" (click)="goToCustomPlanCreate()">
          {{ 'PUZZLES.MENU.customTraining' | translate }}
          <!-- Rutina personalizada -->
        </ion-button>
        <!-- <ion-button expand="block" fill="clear" color="dark">
          Libre
        </ion-button> -->



      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" size-xl="6" offset-lg="1" offset-xl="3">
        <div *ngIf="loadActivityChart">
          <app-activity-chart></app-activity-chart>
        </div>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="(plansHistory$ | async) as plansHistory">

      <ion-row *ngIf="plansHistory.length > 0">
        <ion-col size="12" size-xs="12" size-sm="12" size-md="12" size-lg="3" size-xl="3">
          <ion-text color="primary">
            <h2>
              {{ 'PUZZLES.MENU.history' | translate }}
              <!-- Historial -->
            </h2>
          </ion-text>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" size-xl="6" offset-lg="1" offset-xl="3">
          <app-plans-history-slides [plans]="plansHistory | slice:0:5"></app-plans-history-slides>
        </ion-col>
      </ion-row>
    </ng-container>




    <ng-container *ngIf="(customPlans$ | async) as customPlans">

      <ion-row *ngIf="customPlans.length > 0">
        <ion-col size="12" size-xs="12" size-sm="12" size-md="12" size-lg="3" size-xl="3">
          <ion-text color="primary">
            <h2>
              Tus creaciones
            </h2>
          </ion-text>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" size-xl="6" offset-lg="1" offset-xl="3">
          <app-custom-plans-slides [plans]="customPlans" (slideClick)="onChoosePlan($event)"></app-custom-plans-slides>
        </ion-col>
      </ion-row>
    </ng-container>




  </ion-grid>



</ion-content>