<ion-content>

  <ion-grid class="ion-margin-top">
    <ion-row>


      <ion-col size="12" size-xs="12" size-sm="12" size-md="12" size-lg="3" size-xl="3">
        <h2>Planes de entrenamiento</h2>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" class="ion-no-padding">

        <ion-card color="light" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <div (click)="createPlan(5, 'plan5')">
            <ion-item class="item-plan-description" lines="none">
              <ion-label>
                <b>
                  {{generalEloPlan5}}
                </b>
              </ion-label>
              <div slot="end" class="ion-hide-lg-down">
                5 <ion-icon name="timer-outline"></ion-icon>
              </div>
            </ion-item>
            <ion-img class="img-plan" src="assets/images/plan-icons/plan5.png" alt="rabbit" srcset=""></ion-img>
          </div>

          <ion-fab vertical="bottom" horizontal="end" *ngIf="generalEloPlan5 !== '1500?'" class="ion-hide-md-down">
            <ion-fab-button size="small" color="light" (click)="showChart('plan5')">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>


        </ion-card>


      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" class="ion-no-padding">

        <ion-card color="light" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <div (click)="createPlan(10, 'plan10')">

            <ion-item class="item-plan-description" lines="none">
              <ion-label>
                <b>
                  {{generalEloPlan10}}
                </b>
              </ion-label>
              <div slot="end" class="ion-hide-lg-down">
                10 <ion-icon name="timer-outline"></ion-icon>
              </div>
            </ion-item>
            <ion-img class="img-plan" src="assets/images/plan-icons/plan10.png" alt="horse" srcset=""></ion-img>

          </div>
          <ion-fab vertical="bottom" horizontal="end" *ngIf="generalEloPlan10 !== '1500?'" class="ion-hide-md-down">
            <ion-fab-button size="small" color="light" (click)="showChart('plan10')">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" class="ion-no-padding">

        <ion-card color="light" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <div (click)="createPlan(20, 'plan20')">

            <ion-item class="item-plan-description" lines="none">
              <ion-label>
                <b>
                  {{generalEloPlan20}}
                </b>
              </ion-label>
              <div slot="end" class="ion-hide-lg-down">
                20 <ion-icon name="timer-outline"></ion-icon>
              </div>
            </ion-item>
            <ion-img class="img-plan" src="assets/images/plan-icons/plan20.png" alt="elephant" srcset=""></ion-img>

          </div>
          <ion-fab vertical="bottom" horizontal="end" *ngIf="generalEloPlan20 !== '1500?'" class="ion-hide-md-down">
            <ion-fab-button size="small" color="light" (click)="showChart('plan20')">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card>

      </ion-col>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" size-xl="3" class="ion-no-padding">

        <ion-card color="light" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <div (click)="createPlan(30, 'plan30')">

            <ion-item class="item-plan-description" lines="none">
              <ion-label>
                <b>
                  {{generalEloPlan30}}
                </b>
              </ion-label>
              <div slot="end" class="ion-hide-lg-down">
                30 <ion-icon name="timer-outline"></ion-icon>
              </div>
            </ion-item>
            <ion-img class="img-plan" src="assets/images/plan-icons/plan30.png" alt="turtle" srcset=""></ion-img>

          </div>
          <ion-fab vertical="bottom" horizontal="end" *ngIf="generalEloPlan30 !== '1500?'" class="ion-hide-md-down">
            <ion-fab-button size="small" color="light" (click)="showChart('plan30')">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card>

      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">

        <ion-button expand="block" size="large" color="light">
          Rutina personalizada
        </ion-button>

      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12" size-xs="12" size-sm="12" size-md="12" size-lg="3" size-xl="3">
        <h2 class="ion-no-margin ion-margin-top">Mapa de actividad</h2>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="10" size-xl="6" offset-lg="1" offset-xl="3">
        <div *ngIf="loadActivityChart">
          <app-activity-chart></app-activity-chart>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>