ion-fab-button {
    --background: transparent;
    --box-shadow: none;
}

ion-slides {
    height: 100%;
}

h2 {
    margin-top: 5vh;
}

.row-buttons-providers {
    margin-top: 2rem;
}

.div-container-forms{
    min-height: 32vh;
}