<ion-content class="ion-padding">

  <ion-fab *ngIf="showEmailPassword" vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="showEmailPassword = false" size="small">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="close()" size="small">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-hide-md-up" style="height: 25vh;">
  </div>

  <h4 class="ion-text-center">{{ 'FreeChess' | transloco }}</h4>

  <hr class="solid">

  <ng-container *ngIf="!showEmailPassword; else elseTemplateShowEmail">

    <ion-row class="row-buttons-providers">
      <ion-col size="12">
        <ion-button class="btn-login" expand="block" color="dark" (click)="loginGoogle()">
          <ion-icon slot="start" src="assets\images\logos\Google__G__Logo.svg"></ion-icon>
          {{ 'LoginGoogle' | transloco }}
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" fill="clear" (click)="showEmailPassword = true">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          {{ 'LoginEmailPassword' | transloco }}
        </ion-button>
      </ion-col>
    </ion-row>

  </ng-container>
  <ng-template #elseTemplateShowEmail>

    <ion-segment [value]="segmentEmailPassword" class="ion-margin-bottom" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="login">
        <ion-label> {{ 'Login' | transloco }} </ion-label>
      </ion-segment-button>
      <ion-segment-button value="singUp">
        <ion-label>{{ 'Register' }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <span [ngSwitch]="segmentEmailPassword">
      <span *ngSwitchCase="'login'">

        <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin($event)">

          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">
                  {{ 'Email' | transloco }}
                </ion-label>
                <ion-input formControlName="email" type="email" maxlength="100"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">
                  {{ 'Password' | transloco }}
                </ion-label>
                <ion-input formControlName="password" type="password" maxlength="100"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-button (click)="resetPassword()" expand="block" fill="clear">
                {{ 'ResetPassword' | transloco }}
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button type="submit" expand="block" [disabled]="!formLogin.valid">
                {{ 'Login' | transloco }}
              </ion-button>
            </ion-col>
          </ion-row>

        </form>


        <div class="message" [class.active]="errorLogin">
          <ion-label color="danger">
            <ion-icon slot="start" name="alert-circle-outline" color="danger"></ion-icon>
            {{errorLogin}}
          </ion-label>
        </div>

        <div style="height: 1.5vh;"></div>

      </span>
      <span *ngSwitchCase="'singUp'">

        <form [formGroup]="formSingUp" (ngSubmit)="onSubmitSingUp($event)">

          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">{{ 'Email' | transloco }}</ion-label>
                <ion-input formControlName="email" type="email" maxlength="100"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">{{ 'Password' | transloco }}</ion-label>
                <ion-input formControlName="password" type="password" maxlength="100"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">{{ 'ConfirmPassword' | transloco }}</ion-label>
                <ion-input formControlName="rePassword" type="password" maxlength="100"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button type="submit" expand="block" [disabled]="!formSingUp.valid">
                {{ 'Register' | transloco }}
              </ion-button>
            </ion-col>
          </ion-row>

        </form>

        <div class="message" [class.active]="errorSingUp">
          <ion-label color="danger">
            <ion-icon slot="start" name="alert-circle-outline" color="danger"></ion-icon>
            {{errorSingUp}}
          </ion-label>
        </div>

      </span>
    </span>




  </ng-template>

</ion-content>