<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        Cerrar
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="ion-no-margin ion-no-padding">

    <ion-card-content class="ion-no-margin ion-no-padding">

      <div class="board" id="boardPuzzleSolution">
      </div>


    </ion-card-content>
  </ion-card>

</ion-content>