<ion-content>
  <!-- <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="close()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <div class="container">

    <div class="board-container">
      <ion-toolbar>
        <ion-button slot="start" fill="clear" color="dark" (click)="close()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-item>

          <ion-label>
            <div class="sf-Label-container">
              <div class="loader">
                <!-- <ion-spinner name="bubbles"></ion-spinner> -->
              </div>
              <div class="texts">
                <h4>Stockfish</h4>
                <h6>--.--</h6>
              </div>
            </div>
          </ion-label>
          <ion-toggle [enableOnOffLabels]="true" color="success" slot="end" justify="end">

          </ion-toggle>
        </ion-item>
      </ion-toolbar>




      <div class="board" id="boardPuzzleSolution">
      </div>


      <ion-item lines="none">

        <ion-buttons slot="start">
          <ion-button size="large" disabled fill="clear" color="dark">
            {{puzzle?.rating}}
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">

          <ion-button fill="clear" color="dark" (click)="turnRoundBoard()">
            <ion-icon slot="icon-only" name="swap-vertical-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="dark" [disabled]="!allowMoveArrows">
            <ion-icon slot="icon-only" name="play-back-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="dark" [disabled]="!allowMoveArrows">
            <ion-icon slot="icon-only" name="play-skip-back-outline"></ion-icon>
          </ion-button>

          <ion-button fill="clear" color="dark" [disabled]="!allowMoveArrows">
            <ion-icon slot="icon-only" name="play-skip-forward-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="dark" [disabled]="!allowMoveArrows">
            <ion-icon slot="icon-only" name="play-forward-outline"></ion-icon>
          </ion-button>

          <!-- <ion-button fill="clear" color="dark">
            <ion-icon slot="icon-only" [src]="uiService.piecesPath + piecePathKingTurn"></ion-icon>
          </ion-button> -->

        </ion-buttons>

        <!-- <ion-thumbnail *ngIf="piecePathKingTurn" slot="end">
          <img [src]="uiService.piecesPath + piecePathKingTurn" />
        </ion-thumbnail> -->

      </ion-item>
    </div>

    <div class="footer-content">

      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img [src]="uiService.piecesPath + piecePathKingTurn" />
          </ion-thumbnail>
          <ion-label>
            <h2>Tu turno</h2>
            <p>
              Encuentra el mejor movimiento para las negras
            </p>

          </ion-label>

        </ion-item>
        <div class="actions">
          <ion-buttons>
            <ion-button size="large" color="primary" [disabled]="isClueActive" expand="block" fill="clear"
              (click)="showClue()">
              Pedir una pista
            </ion-button>
            <ion-button size="large" color="primary" expand="block" fill="clear">
              Ver la solución
            </ion-button>
          </ion-buttons>
        </div>
      </ion-list>


      <div class="timer">
        <h1 class="ion-text-center">{{ time | secondsToMinutesSeconds}}</h1>
        <ion-button class="ion-margin-horizontal" color="primary" fill="solid" (click)="startMoves()">
          Reproducir y continuar
        </ion-button>
      </div>



      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Temas</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div class="chips-container">

              <ion-chip *ngFor="let teme of puzzle?.themes" [disabled]="true">
                {{teme}}
              </ion-chip>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>


      <!-- <div class="div-close">
        <ion-button color="dark" class="ion-margin ion-hide-md-up" (click)="close()" expand="block" fill="clear">
          {{ 'Close' | translate}}
        </ion-button>
      </div> -->

    </div>
  </div>










</ion-content>