.board {
    max-width: 67vh;
    margin: 0 auto;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .board-container {
        .sf-Label-container {
            display: flex;
            justify-content: end;

            .loader {
                display: flex;
                align-items: center;
                margin-right: 2px;
            }
        }
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;

        .actions {
            display: flex;
            justify-content: center;
            margin-top: 32px;
        }

        .timer {
            h1 {
                font-size: 32px;
            }

            display: flex;
            justify-content: center;
            flex-direction: column;
        }


    }
}