div.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

ion-card {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 1;
  transform: scale(1);
  transition: transform 0.5s;
}
