<ion-row>



  <ion-col size="12">
    <ion-item lines="none">

      <!-- <ion-label>{{ player?.name }}</ion-label> -->
      <ion-label class="ion-no-padding">
        <h2 class="ion-margin-left">
          Jheison Alexander Alzate
        </h2>

      </ion-label>

      <ion-note slot="end">
        1500?
      </ion-note>

      <ion-thumbnail slot="end" class="ion-padding">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/chesscolate.appspot.com/o/Flags%2F64%2Fcolombia_square_label_64.png?alt=media&token=53382864-b2cc-45ed-8d84-9e04b6056c67" />
      </ion-thumbnail>
    </ion-item>
  </ion-col>

</ion-row>
<ion-row>
  <ion-col size="6">
    <h1>
      00:00
    </h1>
  </ion-col>
</ion-row>