ion-item {
    --background: transparent;
    ion-label {
        padding: 0px;
    }
}

ion-thumbnail {
    --size: 10px;
    img {
        height: 15px;
        width: 15px;
    }
}

ion-note {
    font-size: 0.9em;
}
