<app-header-bar></app-header-bar>

<ion-content>

  <ion-grid class="ion-no-padding ion-no-marging">

    <ion-row class="ion-no-padding ion-no-marging">
      <ion-col class="ion-no-padding ion-no-marging" size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6"
        offset-lg="2" offset-xl="2">

        <ion-card class="ion-no-margin ion-no-padding">

          <ion-card-content class="ion-no-margin ion-no-padding">
            <div class="board" id="boardPuzzleInfinite">
            </div>

          </ion-card-content>
          <!-- <ion-progress-bar [color]="timeColor" buffer></ion-progress-bar> -->
        </ion-card>

      </ion-col>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="4" size-xl="4" class="ion-padding">

        <form [formGroup]="formGame" (ngSubmit)="requestStartGame($event)">

          <ion-item lines="none" detail="false">
            <ion-label>Rango de ELO</ion-label>
          </ion-item>
          <ion-item lines="none" detail="false">
            <div slot="start">800</div>
            <ion-range formControlName="eloRange" max="2500" min="600" [dualKnobs]="true" step="50"></ion-range>
            <div slot="end">2500</div>
          </ion-item>

          <br>
          <ion-accordion-group>

            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Fases</ion-label>
                <div slot="end"> {{ phasesSelectedToShow }} </div>
              </ion-item>
              <div class="ion-padding" slot="content">

                <ion-item>
                  <ion-label>Apertura</ion-label>
                  <ion-checkbox (ionChange)="checkboxChange($event, 'opening')" slot="end"></ion-checkbox>
                </ion-item>

                <ion-item>
                  <ion-label>Medio juego</ion-label>
                  <ion-checkbox (ionChange)="checkboxChange($event, 'middlegame')" slot="end"></ion-checkbox>
                </ion-item>

                <ion-item>
                  <ion-label>Final</ion-label>
                  <ion-checkbox (ionChange)="checkboxChange($event, 'endgame')" slot="end"></ion-checkbox>
                </ion-item>

                <ion-item>
                  <ion-label>Mate</ion-label>
                  <ion-checkbox (ionChange)="checkboxChange($event, 'mate')" slot="end"></ion-checkbox>
                </ion-item>



              </div>
            </ion-accordion>
          </ion-accordion-group>

          <br>

          <ion-note>Tiempo por ejercicio</ion-note>
          <ion-segment formControlName="time" mode="ios">
            <ion-segment-button [value]="1">
              <ion-label>1 min.</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="3">
              <ion-label>3 min.</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="5">
              <ion-label>5 min.</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="7">
              <ion-label>7 min.</ion-label>
            </ion-segment-button>
          </ion-segment>

          <br>


          <ion-button type="submit" size="large" expand="block" color="primary">Iniciar</ion-button>


        </form>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>