<ion-app>

  <!--Mobile-->
  <ion-menu [swipeGesture]="false" side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>

        <ng-container *ngIf="(profile$ | async) as profile; else elseTemplateLoginButton">

          <ion-title> {{ profile.name }} </ion-title>

          <ion-buttons slot="end" (click)="showProfile = !showProfile">
            <ion-button>
              <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

        </ng-container>
        <ng-template #elseTemplateLoginButton>

          <ion-button (click)="presentModalLogin()" expand="block" fill="clear">
            {{ 'LoginMenuBar' | transloco }}
          </ion-button>

        </ng-template>

      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ng-container *ngIf="showProfile; else elseTemplateShowProfile">

        <app-profile (closeProfile)="onLogout()" ></app-profile>

      </ng-container>
      <ng-template #elseTemplateShowProfile>


        <ion-menu-toggle>
          <ion-item button (click)="goTo('/')" detail="false">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button (click)="goTo('/puzzles/training')" detail="false">
            <ion-icon name="extension-puzzle-outline" slot="start"></ion-icon>
            <ion-label>Ejercicios</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item button (click)="goTo('/puzzles/training')" detail="false">
            <ion-icon name="barbell-outline" slot="start"></ion-icon>
            <ion-label>Titán</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button (click)="goTo('/squares')" detail="false">
            <ion-icon name="heart-half-outline" slot="start"></ion-icon>
            <ion-label>Casillas</ion-label>
          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle>

          <ion-item button (click)="goTo('/coordinates')" detail="false">
            <ion-icon name="locate-outline" slot="start"></ion-icon>
            Coordenadas
          </ion-item>
        </ion-menu-toggle>

      </ng-template>

    </ion-content>

    <ion-footer class="ion-no-border">
      <ion-toolbar>


        <ion-button color="medium" fill="clear" expand="block">
          {{ version }}
          <ion-icon slot="end" name="information-circle-outline"></ion-icon>
        </ion-button>

      </ion-toolbar>
    </ion-footer>

  </ion-menu>
  <!--End Mobile-->

  <!--Web-->
  <ion-menu [swipeGesture]="false" contentId="main" menuId="menu-profile" side="end" type="overlay">
    <ion-header color="dark">
      <ion-toolbar>

        <ng-container *ngIf="(profile$ | async) as profile">

          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h2 class="ion-text-center">{{ profile.name }}</h2>
              </ion-text>
            </ion-label>
            <ion-button slot="end" fill="clear" (click)="closeMenu()">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-item>
          
        </ng-container>

      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-profile (closeProfile)="onLogout()" ></app-profile>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>

        <ion-button color="medium" fill="clear" expand="block">
          {{ version }}
          <ion-icon slot="end" name="information-circle-outline"></ion-icon>
        </ion-button>

      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>