<app-header-bar></app-header-bar>

<ion-content>

    <ion-grid>
        <ion-row>

            <ion-col size="2">

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="7" size-xl="7" class="col-game">

                <ion-card class="ion-no-margin ion-no-padding">
                    <ion-card-content class="ion-no-margin ion-no-padding">

                        <div class="board" id="board1">
                        </div>

                    </ion-card-content>
                </ion-card>

            </ion-col>
            <ion-col size="3" class="ion-hide-lg-down">

                <ng-container *ngIf="currentGameState?.game?.status">

                    <app-player
                        [player]="currentGameState?.game?.playerWhite?.uidUser !== profile?.uid ? currentGameState?.game?.playerWhite : currentGameState?.game?.playerBlack ">
                    </app-player>
                    <app-clock [initListenSocket]="
                        {
                            color: currentGameState?.game?.playerWhite?.uidUser !== profile?.uid ? 'white' : 'black',
                            uidGame: currentGameState?.game?.uid
                        }
                    ">
                    </app-clock>

                    <app-clock-countdown-initial *ngIf="currentGameState?.game?.status !== 'finished'"
                        [setGame]="currentGameState?.game">
                    </app-clock-countdown-initial>

                    <ng-container *ngIf="currentGameState?.game?.status === 'finished' ">
                        <app-end-game></app-end-game>
                    </ng-container>

                    <!-- TODO: div para notación -->
                    <!-- <div style="height: 50vh;"></div> -->


                    <app-clock [initListenSocket]="
                        {
                            color: currentGameState?.game?.playerWhite?.uidUser === profile?.uid ? 'white' : 'black',
                            uidGame: currentGameState?.game?.uid
                        }
                    "></app-clock>
                    <app-player
                        [player]="currentGameState?.game?.playerWhite?.uidUser === profile?.uid ? currentGameState?.game?.playerWhite : currentGameState?.game?.playerBlack ">
                    </app-player>
                </ng-container>




            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="div-start-game-options"
        *ngIf="currentGameState?.status === 'creating' || currentGameState?.status === 'loading'">
        <app-new-game-options></app-new-game-options>
    </div>

</ion-content>