.board {
    max-width: 85vh;
    margin: 0 auto;
    display: block;
}

.div-start-game-options {
    position: absolute;
    top: 12vh;
    left: 32.1vw;
    height: 64vh;
    width: 29.7vw;
    background-color: var(--ion-color-light);
    z-index: 9;
}

.col-game {
}

@media only screen and (device-width: 320px) {
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .div-start-game-options {
        top: 15vh;
        left: 5vw;
        height: 50vh;
        width: 90vw;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
