<app-header-bar></app-header-bar>

<ion-content>

    <ion-grid>
        <ion-row>

            <ion-col size="2">

            </ion-col>

            <ion-col size-sm="12" size-md="12" size-lg="7" size-xl="7" class="col-game">

                <ion-card class="ion-no-margin ion-no-padding">
                    <ion-card-content class="ion-no-margin ion-no-padding">
                        <!-- 
                        <ion-item>
                            <ion-avatar slot="start">
                                <img
                                    src="https://firebasestorage.googleapis.com/v0/b/lullaai-app.appspot.com/o/Chat%2FAgents%2FD0alJ1fO0waFShX3VgiSExN6cCx1%2FEs%2Fjson_Es.png?alt=media&token=bfbef50c-4d58-483b-a893-179ff0fa0e3a" />
                            </ion-avatar>
                            <ion-label>Item Avatar</ion-label>
                        </ion-item> -->


                        <div class="board" id="board1">
                        </div>



                    </ion-card-content>
                </ion-card>

            </ion-col>
            <ion-col size="3" class="ion-hide-lg-down">
                <app-player [color]="'white'"></app-player>
                <app-clock></app-clock>
                <!-- TODO: div para notación -->
                <div style="height: 50vh;" ></div>
                <app-clock></app-clock>
                <app-player [color]="'black'"></app-player>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="div-start-game-options">
        <app-new-game-options></app-new-game-options>
    </div>

</ion-content>