<app-header-bar></app-header-bar>


<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="3">

        <ion-segment value="pizza">
          <ion-segment-button value="pizza">
            <ion-label>Encontrar escaque</ion-label>
          </ion-segment-button>
          <ion-segment-button value="pasta">
            <ion-label>Nombrar escaque</ion-label>
          </ion-segment-button>
        </ion-segment>


        <ion-list class="ion-margin-top">

          <ion-item>
            <ion-label>Piezas</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>
          <ion-buttons>
            <ion-button expand="block" fill="clear" color="primary">
              Inicial
            </ion-button>
            <ion-button expand="block" fill="clear" color="medium">
              Random
            </ion-button>
          </ion-buttons>

        </ion-list>


        <ion-list class="ion-margin-top">
          <ion-row>
            <ion-col size="4">
              <ion-button size="large" expand="block" [color]=" color === 'white' ? 'primary' : 'medium' "
                (click)="color = 'white'">
                <ion-icon slot="icon-only" src="assets/images/pieces/wK.svg"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button size="large" expand="block" [color]=" color === 'random' ? 'primary' : 'medium' "
                (click)="color = 'random'">
                <ion-icon slot="icon-only" name="shuffle"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button size="large" expand="block" [color]=" color === 'black' ? 'primary' : 'medium' "
                (click)="color = 'black'">
                <ion-icon slot="icon-only" src="assets/images/pieces/bK.svg"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>



        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <ion-button (click)="play()" expand="block">
              Jugar
            </ion-button>
          </ion-col>
        </ion-row>


      </ion-col>

      <ion-col size-sm="12" size-md="12" size-lg="6" size-xl="6" class="col-game">

        <ion-card class="ion-no-margin ion-no-padding">

          <ion-card-content class="ion-no-margin ion-no-padding">
            <div class="board" id="boardCordinates">
            </div>

            <h1>{{ currentPuzzle }}</h1>
            <h2>60</h2>
          </ion-card-content>
          <ion-progress-bar color="success" value="0.9"></ion-progress-bar>
        </ion-card>

      </ion-col>
      <ion-col size="3" class="ion-hide-lg-down">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>