.board {
    max-width: 38vw;
    margin: 0 auto;
    display: block;
}

.current-puzzle {
    position: absolute;
    z-index: 9;
    left: 36.5%;
    top: 30%;
    font-size: 13em;
    pointer-events: none;
    color: var(--ion-color-dark);
    text-shadow: 2px 2px var(--ion-color-dark-shade);
}
