<div style="height: 50vh;" class="div-container">

  <div class="div-card" [ngClass]="{'top': sideOfCountDown === 'top', 'bottom': sideOfCountDown === 'bottom'}">

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          {{ message }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-text color="warning" class="ion-text-center">
          <h1>{{ timer | milliToSeconds }}</h1>
        </ion-text>


      </ion-card-content>
    </ion-card>

  </div>


</div>