<ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
  <ion-segment-button value="game" (click)="segment = 'game'">
    <ion-label>Nuevo juego</ion-label>
  </ion-segment-button>
  <ion-segment-button value="lobby" (click)="segment = 'lobby'">
    <ion-label>
      Lobby
      <ion-badge color="light">22</ion-badge>
    </ion-label>
  </ion-segment-button>
</ion-segment>

<span [ngSwitch]="segment">
  <span *ngSwitchCase="'game'">


    <div class="div-game-options">


      <ion-row>
        <ion-col size="3">
          <ion-button size="large" expand="block" [color]=" time === 5.3 ? 'primary' : 'medium'" (click)="time = 5.3"
            [disabled]="time !== 5.3 && searchingGame">
            5<small>+</small>3
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button size="large" expand="block" [color]=" time === 600000 ? 'primary' : 'medium'"
            (click)="time = 10.0" [disabled]="time !== 10.0 && searchingGame">
            10<small>+</small>0
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button size="large" expand="block" [color]=" time === 15.10 ? 'primary' : 'medium'"
            (click)="time = 15.10" [disabled]="time !== 15.10 && searchingGame">
            15<small>+</small>10
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button size="large" expand="block" [color]=" time === 40.40 ? 'primary' : 'medium'"
            (click)="time = 40.40" [disabled]="time !== 40.40 && searchingGame">
            40<small>+</small>40
          </ion-button>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-button size="large" expand="block" [color]=" color === 'white' ? 'primary' : 'medium' "
            (click)="color = 'white'" [disabled]="color !== 'white' && searchingGame">
            <ion-icon slot="icon-only" src="assets/images/pieces/wK.svg"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button size="large" expand="block" [color]=" color === 'random' ? 'primary' : 'medium' "
            (click)="color = 'random'" [disabled]="color !== 'random' && searchingGame">
            <ion-icon slot="icon-only" name="shuffle"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button size="large" expand="block" [color]=" color === 'black' ? 'primary' : 'medium' "
            (click)="color = 'black'" [disabled]="color !== 'black' && searchingGame">
            <ion-icon slot="icon-only" src="assets/images/pieces/bK.svg"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- <ion-col size="12" class="ion-no-marging ion-no-padding">
            <ion-button size="small" expand="block" fill="clear" (click)="showCustomOptions = true" >
              Personalizar
            </ion-button>
          </ion-col> -->
      </ion-row>

    </div>

    <ion-row class="ion-margin-top">
      <ion-col offset="2" size="8">
        <ng-container *ngIf="!searchingGame; else elseTemplate">

          <ion-button size="large" color="success" expand="block" [disabled]="disableButtonPlay" (click)="onPlay()">
            Jugar
          </ion-button>

        </ng-container>
        <ng-template #elseTemplate>

          <ion-spinner color="primary" name="crescent"></ion-spinner>

          <ion-button color="danger" expand="block" fill="clear" (click)="onCancel()">
            Cancelar
          </ion-button>


        </ng-template>

      </ion-col>
    </ion-row>

  </span>
  <span *ngSwitchCase="'lobby'">
    lobby
  </span>

</span>