<div class="ion-padding">
  <h6 class="ion-text-center ion-no-margin ion-no-padding">Puntuación</h6>
  <ion-text color="primary">
    <h1 class="ion-text-center ion-no-margin ion-no-padding">{{ totalElo }}</h1>
  </ion-text>
  <ion-segment value="pizza">
    <ion-segment-button value="pizza">
      <ion-label>Temas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pasta">
      <ion-label>Aperturas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <span [ngSwitch]="">
  <p *ngSwitchCase="true">
  
  </p>
  <p *ngSwitchCase="false">
  
  </p>
  <p *ngSwitchDefault>
  
  </p>
  </span> -->

</div>