.div-container-no-modal {
    min-height: 60vh;
}

ion-toolbar {
    --background: transparent;
}
canvas {
    margin-top: 2vh;
    max-height: 50vh;
    position: absolute;
}

.hide {
    height: 0px;
    width: 0px;
    opacity: 0;
}
ion-list {
    --background: transparent;
}
ion-item {
    --background: transparent;
}
