<div class="ion-padding">

  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img [src]="'assets/images/plan-icons/'+ planType +'.png'" />
    </ion-thumbnail>
    <ion-title>
      <h6 class="ion-text-center ion-no-margin ion-no-padding">Puntuación</h6>
      <ion-text color="primary">
        <h1 class="ion-text-center ion-no-margin ion-no-padding">{{ totalElo }}</h1>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment value="pizza">
    <ion-segment-button value="pizza">
      <ion-label>Temas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pasta">
      <ion-label>Aperturas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <span [ngSwitch]="">
  <p *ngSwitchCase="true">
  
  </p>
  <p *ngSwitchCase="false">
  
  </p>
  <p *ngSwitchDefault>
  
  </p>
  </span> -->

</div>